.container{width:1060px;min-height:500px;border:1px solid #000;margin:0 auto;border-radius:10px;box-shadow:2px 2px 5px 0 #ccc;padding:10px;}
.goodsbox{width:190px;min-height:250px;border:1px solid #ccc;margin:5px;float:left;line-height:26px;padding:5px;}
.goodsbox p{padding:0 10px;}




